/*
 * Forms
 */
.btn {
	&.btn-app {
		padding: 0px;

		.fa {
			font-size: 20px;
			display: block;
		}

		a {
			position: relative;
			display: inline-block;
			*display: inline;
			padding: 15px 5px;
			margin: 0 10px 10px 0;
			min-width: 80px;
			height: 60px;
			@include box-shadow(none);
			@include border-radius(0);
			text-align: center;
			border: 1px solid #ddd;
			background-color: #fafafa;
			font-size: 12px;
			color: #666;
			zoom: 1;

			&:hover {
				background: #f4f4f4;
				color: #444;
				border-color: #aaa;
				text-decoration: none;
			}
		}
	}
}