/*
 * Typography
 */
html {
	font-size: 16px;
}
body {
  font-size: 100%;
  line-height: 1.5em;
  font-family: 'PT Sans', sans-serif;
}
p {
  font-size: 1em; /* 16px */
  line-height: 1.5em; /* 24px */
  margin: 0 0 1.5em 0;
}

	h1,
	.class-for-36px {
	  font-size: 2.25em; /* 36px */
	  line-height: 1.3333em; /* 48px */
	  margin: 0 0 20px;
	}
	h2,
	.class-for-24px {
	  font-size: 1.5em; /* 24px */
	  line-height: 1em; /* 24px */
	  margin: 0 0 20px;
	}
	h3,
	.class-for-21px {
	  font-size: 1.3125em; /* 21px */
	  line-height: 1.1429em; /* 24px */
	  margin: 0 0 20px;
	}
	h4,
	.class-for-15px {
	  font-size: 0.9375em; /* 15px */
	  line-height: 1.6em; /* 24px */
	  margin: 0 0 20px;
	}
	h5,
	.class-for-13px {
	  font-size: 0.8125em; /* 13px */
	  line-height: 1.8462em; /* 24px */
	  margin: 0 0 20px;
	}