/*
 * Default theme
 */
html,
body {
	height: 100%;
}
.main-wrapper {
	height: auto;
	min-height: 100%;
	padding: 0 0 50px 0;
}

.triangle {
	width: 0px;
	height: 0px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #b00 transparent;
}
